<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>insurance-suit</display-name>
    <!--    <servlet>
        <servlet-name>GetServlet</servlet-name>
        <servlet-class>com.insurance.webapp.servlets.GetServlet</servlet-class>
        <init-param>
            <param-name>URL</param-name>
            <param-value>http://www.weatherservice.com</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetServlet</servlet-name>
        <url-pattern>/getServlet</url-pattern>
    </servlet-mapping>-->
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/insurance_website</param-value>
    </context-param>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>com.insurance.webapp.Dao.MemberDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/userJsp/userProfile.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
