<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>insurance-suit</display-name>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/insurance_website</param-value>
    </context-param>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>flickiviki@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>1esafazal1</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.insurance.webapp.Filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/insurance-suit</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberLogin</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.MemberLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingApprovals</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.PendingApprovals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentStatus</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.PaymentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectMember</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.RejectMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendMember</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.SuspendMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/adminJsp/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemberMakeClaim</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.MemberMakeClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberEditDetails</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.MemberEditDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDetails</servlet-name>
        <servlet-class>com.insurance.webapp.Servlets.MemberDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberLogin</servlet-name>
        <url-pattern>/userJsp/MemberLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/userJsp/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberMakeClaim</servlet-name>
        <url-pattern>/userJsp/MemberMakeClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberEditDetails</servlet-name>
        <url-pattern>/userJsp/MemberEditDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDetails</servlet-name>
        <url-pattern>/userJsp/MemberDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingApprovals</servlet-name>
        <url-pattern>/adminJsp/PendingApprovals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentStatus</servlet-name>
        <url-pattern>/adminJsp/PaymentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectMember</servlet-name>
        <url-pattern>/adminJsp/RejectMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendMember</servlet-name>
        <url-pattern>/adminJsp/SuspendMember</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/userJsp/error.jsp</location>
    </error-page>
</web-app>
