/__at_depend
/__at_directory
/__at_file
/__at_license
/__at_set
/__st_basename
/__st_content
/__st_description
/__st_fmri
/__st_incorporate
/__st_info.classification
/__st_info.maintainer_url
/__st_info.source_url
/__st_info.upstream_url
/__st_license
/__st_path
/__st_pkg.description
/__st_pkg.detailed_url
/__st_pkg.maintainer_url
/__st_pkg.summary
/__st_pkg.upstream_url
/__st_publisher
/__st_require
/fast_add.v1
/fast_remove.v1
/fmri_offsets.v1
/full_fmri_list
/full_fmri_list.hash
/main_dict.ascii.v2
/manf_list.v1
/token_byte_offset.v1
