/XMLSchema.dtd
/application-client_1_4.xsd
/application-client_5.xsd
/application-client_6.xsd
/application-client_7.xsd
/application_1_4.xsd
/application_5.xsd
/application_6.xsd
/application_7.xsd
/beans_1_0.xsd
/connector_1_5.xsd
/connector_1_6.xsd
/connector_1_7.xsd
/datatypes.dtd
/ejb-jar_2_1.xsd
/ejb-jar_3_0.xsd
/ejb-jar_3_1.xsd
/ejb-jar_3_2.xsd
/j2ee_1_4.xsd
/j2ee_jaxrpc_mapping_1_1.xsd
/j2ee_web_services_1_1.xsd
/j2ee_web_services_client_1_1.xsd
/javaee_5.xsd
/javaee_6.xsd
/javaee_7.xsd
/javaee_web_services_1_2.xsd
/javaee_web_services_1_3.xsd
/javaee_web_services_1_4.xsd
/javaee_web_services_client_1_2.xsd
/javaee_web_services_client_1_3.xsd
/javaee_web_services_client_1_4.xsd
/jax-rpc-ri-config.xsd
/jdbc-data-source.xsd
/jsp_2_0.xsd
/jsp_2_1.xsd
/jsp_2_2.xsd
/jsp_2_3.xsd
/orm_1_0.xsd
/orm_2_0.xsd
/orm_2_1.xsd
/permissions_7.xsd
/persistence_1_0.xsd
/persistence_2_0.xsd
/persistence_2_1.xsd
/web-app_2_4.xsd
/web-app_2_5.xsd
/web-app_3_0.xsd
/web-app_3_1.xsd
/web-common_3_0.xsd
/web-common_3_1.xsd
/web-facelettaglibrary_2_0.xsd
/web-facelettaglibrary_2_2.xsd
/web-facesconfig_1_2.xsd
/web-facesconfig_2_0.xsd
/web-facesconfig_2_1.xsd
/web-facesconfig_2_2.xsd
/web-fragment_3_0.xsd
/web-fragment_3_1.xsd
/web-jsptaglibrary_2_0.xsd
/web-jsptaglibrary_2_1.xsd
/web-partialresponse_2_2.xsd
/xml.xsd
