/diagnostics-image.xsd
/diagnostics.xsd
/domain.xsd
/security.xsd
/weblogic-annotation.xsd
/weblogic-appclient.xsd
/weblogic-application.xsd
/weblogic-deployment-plan.xsd
/weblogic-ejb-jar.xsd
/weblogic-extension.xsd
/weblogic-interception.xsd
/weblogic-j2ee.xsd
/weblogic-jdbc.xsd
/weblogic-jmsmd.xsd
/weblogic-ra-ext.xsd
/weblogic-ra.xsd
/weblogic-rdbms11-persistence.xsd
/weblogic-rdbms20-persistence.xsd
/weblogic-standalone-wsclient.xsd
/weblogic-web-app.xsd
/weblogic-ws-policy.xsd
/weblogic-wsee-clienthandlerchain.xsd
/weblogic-wsee.xsd
